#div-container{
    width:100%;
    height: 1160px;
    
   
}

#first-img{
    width:100%;
    height:400px;
 }
#first-img img{
    width:100%;
    height:400px;
}

/*begeninf of content-- end of header*/
#article{
    width:100%;
    height: 600px;
   
    margin-top:40px;
    
}
#article .div1{
    width: 30%;
    height:500px;
   float:right;
   margin-right:40px;
}

#article .div1 h1{
 font-size:3vw;
}
#article .div1{
 font-size:2vw;
}


/*end of content begining of footer*/

 #footer{
  background-color:black;
  width:100%;
  height:160px;
  text-align: center;
 }
 #footer ul{
    color:white;
    display:inline-block;
    margin: auto;
    margin-top:50px;
}

 #footer ul li{
    color:white;
    float:right;
    padding:20px;
    list-style-type:none;
    display:inline-block;
    margin: auto;
    text-align: center;
    
 }


